{% extends "header.html" %}
{% block body %}

<div class="container">


<h1 style="text-align:left">Visit us</h1> 
	<div class="row">
		<div class="span12" style="overflow:hidden;">
		<!---<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=King+Street,+Cambridge+CB1&amp;aq=0&amp;oq=CB1+king&amp;sll=52.201498,0.132208&amp;sspn=0.011376,0.033023&amp;g=CB1+2El&amp;ie=UTF8&amp;hq=&amp;hnear=King+St,+Cambridge+CB1,+United+Kingdom&amp;t=m&amp;ll=52.206713,0.125957&amp;spn=0.002301,0.00456&amp;z=17&amp;output=embed"></iframe>
		-->
		<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/?ie=UTF8&amp;ll=0.313029,32.59945&amp;spn=0.193288,0.338173&amp;t=h&amp;z=12&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/?ie=UTF8&amp;ll=0.313029,32.59945&amp;spn=0.193288,0.338173&amp;t=h&amp;z=12&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
		<!--<br /><small><a href="https://maps.google.co.uk/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=King+Street,+Cambridge+CB1&amp;aq=0&amp;oq=CB1+king&amp;sll=52.201498,0.132208&amp;sspn=0.011376,0.033023&amp;g=CB1+2El&amp;ie=UTF8&amp;hq=&amp;hnear=King+St,+Cambridge+CB1,+United+Kingdom&amp;t=m&amp;ll=52.206713,0.125957&amp;spn=0.002301,0.00456&amp;z=17" style="color:#0000FF;text-align:left">View Larger Map</a></small>	
		---></div>
		
		<div class="span4 well well-small">
			<h4>Contact Details</h4>
			<p>
				King Street, Cambridge CB1<br/>
				info@bootstrapclinic.com<br/>
				﻿Tel 123-456-6780<br/>
				Fax 123-456-5679<br/>
				web:www.bootstrapclinic.com
			</p>

			<h4>Opening Hours</h4>
			<p> Monday - Friday<br/>
			09:00am - 09:00pm<br/><br/>
			Saturday<br/>
			09:00am - 07:00pm<br/><br/>
			Sunday<br/>
			12:30pm - 06:00pm<br/><br/>		
		</div>
		
		<div class="span4 well">
		<h4>Email Us</h4>
		<form class="form-horizontal" action="">
        <fieldset>
          <div class="control-group">
              <input type="text" placeholder="name" class="input-xlarge"/>
           </div>
		   <div class="control-group">
               <input type="text" placeholder="email" class="input-xlarge"/>
           </div>
		   <div class="control-group">
              <input type="text" placeholder="subject" class="input-xlarge"/>
          </div>
          <div class="control-group">
              <textarea rows="4" id="textarea" class="input-xlarge"></textarea>
           
          </div>
            <button class="btn btn-active btn-large" type="submit">Send Message</button>
        </fieldset>
      </form>
		</div>
		<div class="span3 well">
		
		<h5>Follow us for more details</h5>
		You can join our debate onyour favourite social media by just liking out facebook page or following us on twitter and gplus to get the latest on our status.<br><br>
		<span class="">
	<a href="facebook.com/pyconadmins"><img src="{{ url_for('static', filename='img/facebook.png') }}" alt="" ></a> 
	<a href="#"><img src="{{ url_for('static', filename='img/googleplus.png') }}" alt="" ></a> 
	<a href="#"><img src="{{ url_for('static', filename='img/twitter.png') }}" alt="" ></a> 
	<a href="#"><img src="{{ url_for('static', filename='img/rss.png') }}" alt="" ></a> 
	</span>
		</div>
		
	</div>


<hr class="soften"/>
<footer class="footer">
<p>
	
<a href="index.html">Home</a> - 
<a href="about_us.html">Who we are?</a> - 
<a href="webdevelopment.html">What we do?</a> - 
<a href="portfolio.html">What we did?</a> -
<a href="contact.html">Support</a>
</p>
<hr class="soften"/>
<p>&copy; Copyright company <br/><br/></p>
 </footer>
</div>
</div>
{% endblock %}
